@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

html {
    /* font: normal 62.5% "Roboto", sans-serif;  */
    font: normal 10px "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none; 
    color: black;
}
a:hover {
     text-decoration: underline;
}
body {
    background-color: #f1f1f1;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 25%;
    /* max-width: 320px; */
    height: 100%;
    overflow: hidden;
    text-align: left;
    /* padding: 40px 10px 40px 40px; */
    padding: 3em 0.5em 3em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0f141e;
}

.main {
    max-width: 1140px; 
    /* padding-left: 320px; */
    padding-left: 25%;
    padding-top: 5em;
}
.main__content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    text-align: justify;
    line-height: 2.5em;
}
.main__content h2 { font-size: 2em; text-align: center; }
.main__content h3 { 
    font-size: 1.5em; 
    /* margin: 20px 0 5px 0;  */
    margin: 1em 0 0.3em 0; }
.main__content p  { font-size: 1.6em; }
.main__content__about {
    /* margin: 0 auto;
    width: 90%; */
    padding: 0 2em; 
    margin-bottom: 20px;
    text-indent: 40px;
}
.main__content__about p {
    margin-bottom: 10px;
    font-size: 1.6em;
}
.main__content__img {
    width: 190px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main__content__img img {
    height: 130px;
    cursor: zoom-in;
}
/* .zoom {
    width: 700px;
    transition: width 2s ;
} */

/* ----------------- Slider ------------------- */
.slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider__photo {
    display: flex;
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* flex-direction: column-reverse; */
}
.slider__photo img {
    max-width: 700px;
    max-height: 550px;
}
.slider__info {
    width: 700px;
    height: 100px;
    margin-top: -100px;
    padding: 20px;
    color: #fff;
    display: none;
}
.slider__prev, .slider__next, .slider__close {
    display: inline-block;
    position: fixed;
    cursor: pointer;
    z-index: 1012;
    text-align: center;
    padding: 20px;
}
.slider__prev {
    top:  calc(50% - 5em);
    left: calc(10% - 28px);
    /* background-image:url(/img/tech_img/arrow_prev.png) ; */
}
.slider__next {
    top:  calc(50% - 5em);
    left: calc(90% - 28px);
}
.slider__prev .fa, .slider__next .fa {
    font-size: 5em;
}
.slider__close {
    top:   30px;
    right: 30px;
}
.slider__close .fa { font-size: 3em; }
 /* ------------------ автослайдер на главной ------------------ */
.slider-auto {
    width: 700px;
    min-height: 500px;
    /* text-align: center; */
    position: relative;
    display: flex;
    justify-content: center;
}
.slider-auto img {
    height: 500px;
    position: absolute;
    /* left: 0; */
    opacity: 0;
    transition: opacity 2s;
}
.slider-auto img.showed {
    opacity: 1;
}
/* --------------------------------- */
.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}

  /* ----------------- sidebar--------------- */
.sidebar__logo h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
    cursor: pointer;
}

.sidebar__menu {
    list-style: none;
    font: normal bold 2em "Roboto", sans-serif;
    flex-grow: 1;
}
.sidebar__menu li {
    margin-bottom: 0.5em;
    cursor: pointer;
}
.sidebar__menu>li[data-submenu="submenu"] span:hover {
    text-decoration: underline;
}
.sidebar__menu li[data-submenu="submenu"] span::after {
    content: " ▾";
    display: inline-block;
    position: relative;
    left: 0.25em;
}
.active span::after {
    transform: rotate(180deg)
}
.sidebar__menu__submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.sidebar__menu__submenu li {
    list-style: none;
    padding: 0.5em 0 0 0.5em;
    text-align: start;
    margin-bottom: 0;
}
.sidebar__footer__copyright p {
    font-size: 1.5em;
}
.about { padding-left: 20px; }
.about img {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 250px;
}

/*-------------- форма обратной связи: -------------*/
.form__input-box {
    /* height: 50px; */
    /* border: 2px black solid; */
}
.form__input-inp, .form__textarea {
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    /* border: 2px solid #f1f1f1; */
    border-bottom: #cfcfcf 2px solid;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    color: #86898f;
    font: normal 1.6em "Roboto", sans-serif;
    margin-top: 5px;
}
.form__input-inp {
    height: 2em;
}
.form__textarea {}
.form__lbl {
    opacity: 0;
    display: block;
    margin-top: -5px;
    margin-left: 7px;
}
.form__lbl-area {
    opacity: 0;
    display: block;
    margin-top: -13px;
    margin-left: 7px;
}
.form__btn {
    padding: 5px;
    border-radius: 5px;
    border: #cfcfcf 1px solid;
    margin-top: 5px;
    color: #86898f;
    font: normal 1.6em "Roboto", sans-serif;
} 
.form__btn:hover {
    background-color: #e9e9e9;
}
.errorInp {
    border: 2px solid rgb(255, 156, 156);
    border-radius: 5px;
    /* border: 2px solid red !important; */
}
.showLbl {
    transition: opacity 0.5s linear;
    opacity: 1;
}

.loading {
    /* background-color: #ccc;
    opacity: 0.5; */
    position: relative;
    /* color: #cbcbcd; */
}
.animPos {
    position: absolute;
    top:  calc(50% - 0.5em);
    left: calc(50% - 0.5em);
}


.sidebar__footer__social .fa { 
    /* font-size: 3em;  */
    margin-bottom: 5px;
}